<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SMA.Tools4.Common.Core" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Common.DataSource" version="4.6.0.2" targetFramework="net472" />
  <package id="SMA.Tools4.Xpo.Common.DataSource" version="4.6.0.2" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.2" targetFramework="net472" />
</packages>